# Keywords

# List

# Dict

# Functions

In [2]:
dict1 = {'location':'New York', 'salary':'100000USD'}
dict1

{'location': 'New York', 'salary': '100000USD'}

In [ ]:
#functions

def name(param):
    body of function

In [4]:
def user_details(name, country):
    print('Name :', name)
    print('Country :' ,country)

user_details("John smith", "usa")

Name : John smith
Country : usa

In [5]:
var1 = 100 #global scope
def fun1():
    var1 = 50 #local scope
    print(var1)
def fun2():
    print(var1)

In [7]:
fun1()
fun2()

50
100

In [8]:
def factorial(num):
    if num<=1:
        return 1
    else:
        return num * factorial(num-1)

In [9]:
factorial(5)

120